<a href="https://colab.research.google.com/github/veruizr/ML_Doc/blob/main/polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Datos básicos

Numéricos
categóricos
binarios

educational level-- categórico
a binario cumulative (ordenado)
preescolar [1,0,0,0,0,0]
primaria [0,1,0,0,0,0]
secundaria [0,0,1,0,0,0]
media [0,0,
pregrado
maestria doctorado


is student--binario
dummy

city of birth--categórico
a binario dummy

temperature--numérico
se categórizan de acuerdo con el comportamiento de las variables
a binario cumulative

area code--numérico
a binario cumulative

favorite sport--categórico
a binario dummy

In [ ]:
import polars as pl
df=pl.read_csv("/content/imdb_movie_dataset.csv")
df.head()

In [ ]:
df.shape

(1000, 12)

In [ ]:
(df.describe)

<bound method DataFrame.describe of shape: (1_000, 12)
┌──────┬──────────────┬──────────────┬─────────────┬───┬────────┬────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre        ┆ Description ┆ … ┆ Rating ┆ Votes  ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---          ┆ ---         ┆   ┆ ---    ┆ ---    ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str          ┆ str         ┆   ┆ f64    ┆ i64    ┆ ---         ┆ i64       │
│      ┆              ┆              ┆             ┆   ┆        ┆        ┆ f64         ┆           │
╞══════╪══════════════╪══════════════╪═════════════╪═══╪════════╪════════╪═════════════╪═══════════╡
│ 1    ┆ Guardians of ┆ Action,Adven ┆ A group of  ┆ … ┆ 8.1    ┆ 757074 ┆ 333.13      ┆ 76        │
│      ┆ the Galaxy   ┆ ture,Sci-Fi  ┆ intergalact ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ ic crimi…   ┆   ┆        ┆        ┆             ┆           │
│ 2    ┆ Prometheus   ┆ Adventure,My ┆ Following   ┆ … ┆ 7.0    ┆ 485820 ┆ 126.46      ┆ 65        │
│      ┆              ┆ stery,Sci-Fi ┆ clues to    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ the origin  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ …           ┆   ┆        ┆        ┆             ┆           │
│ 3    ┆ Split        ┆ Horror,Thril ┆ Three girls ┆ … ┆ 7.3    ┆ 157606 ┆ 138.12      ┆ 62        │
│      ┆              ┆ ler          ┆ are         ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ kidnapped   ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ by a…       ┆   ┆        ┆        ┆             ┆           │
│ 4    ┆ Sing         ┆ Animation,Co ┆ In a city   ┆ … ┆ 7.2    ┆ 60545  ┆ 270.32      ┆ 59        │
│      ┆              ┆ medy,Family  ┆ of humanoid ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ animals,…   ┆   ┆        ┆        ┆             ┆           │
│ 5    ┆ Suicide      ┆ Action,Adven ┆ A secret    ┆ … ┆ 6.2    ┆ 393727 ┆ 325.02      ┆ 40        │
│      ┆ Squad        ┆ ture,Fantasy ┆ government  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ agency rec… ┆   ┆        ┆        ┆             ┆           │
│ …    ┆ …            ┆ …            ┆ …           ┆ … ┆ …      ┆ …      ┆ …           ┆ …         │
│ 996  ┆ Secret in    ┆ Crime,Drama, ┆ A           ┆ … ┆ 6.2    ┆ 27585  ┆ null        ┆ 45        │
│      ┆ Their Eyes   ┆ Mystery      ┆ tight-knit  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ team of     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ rising in…  ┆   ┆        ┆        ┆             ┆           │
│ 997  ┆ Hostel: Part ┆ Horror       ┆ Three       ┆ … ┆ 5.5    ┆ 73152  ┆ 17.54       ┆ 46        │
│      ┆ II           ┆              ┆ American    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ college     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ student…    ┆   ┆        ┆        ┆             ┆           │
│ 998  ┆ Step Up 2:   ┆ Drama,Music, ┆ Romantic    ┆ … ┆ 6.2    ┆ 70699  ┆ 58.01       ┆ 50        │
│      ┆ The Streets  ┆ Romance      ┆ sparks      ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ occur       ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ between …   ┆   ┆        ┆        ┆             ┆           │
│ 999  ┆ Search Party ┆ Adventure,Co ┆ A pair of   ┆ … ┆ 5.6    ┆ 4881   ┆ null        ┆ 22        │
│      ┆              ┆ medy         ┆ friends     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ embark on a ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ …           ┆   ┆        ┆        ┆             ┆           │
│ 1000 ┆ Nine Lives   ┆ Comedy,Famil ┆ A stuffy    ┆ … ┆ 5.3    ┆ 12435  ┆ 19.64       ┆ 11        │
│      ┆              ┆ y,Fantasy    ┆ businessman ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ finds him…  ┆   ┆        ┆        ┆             ┆           │
└──────┴──────────────┴──────────────┴─────────────┴───┴────────┴────────┴─────────────┴───────────┘>

In [ ]:
(df.dtypes,type(df.dtypes))

([Int64,
  String,
  String,
  String,
  String,
  String,
  Int64,
  Int64,
  Float64,
  Int64,
  Float64,
  Int64],
 list)

In [ ]:
df2=df.select(["Title", "Genre", "Rating", "Revenue (Millions)"])
df2

shape: (1_000, 4)
┌─────────────────────────┬──────────────────────────┬────────┬────────────────────┐
│ Title                   ┆ Genre                    ┆ Rating ┆ Revenue (Millions) │
│ ---                     ┆ ---                      ┆ ---    ┆ ---                │
│ str                     ┆ str                      ┆ f64    ┆ f64                │
╞═════════════════════════╪══════════════════════════╪════════╪════════════════════╡
│ Guardians of the Galaxy ┆ Action,Adventure,Sci-Fi  ┆ 8.1    ┆ 333.13             │
│ Prometheus              ┆ Adventure,Mystery,Sci-Fi ┆ 7.0    ┆ 126.46             │
│ Split                   ┆ Horror,Thriller          ┆ 7.3    ┆ 138.12             │
│ Sing                    ┆ Animation,Comedy,Family  ┆ 7.2    ┆ 270.32             │
│ Suicide Squad           ┆ Action,Adventure,Fantasy ┆ 6.2    ┆ 325.02             │
│ …                       ┆ …                        ┆ …      ┆ …                  │
│ Secret in Their Eyes    ┆ Crime,Drama,Mystery      ┆ 6.2    ┆ null               │
│ Hostel: Part II         ┆ Horror                   ┆ 5.5    ┆ 17.54              │
│ Step Up 2: The Streets  ┆ Drama,Music,Romance      ┆ 6.2    ┆ 58.01              │
│ Search Party            ┆ Adventure,Comedy         ┆ 5.6    ┆ null               │
│ Nine Lives              ┆ Comedy,Family,Fantasy    ┆ 5.3    ┆ 19.64              │
└─────────────────────────┴──────────────────────────┴────────┴────────────────────┘

In [ ]:
df2.filter(pl.col("Rating")> 8.5)

shape: (6, 4)
┌──────────────────┬─────────────────────────┬────────┬────────────────────┐
│ Title            ┆ Genre                   ┆ Rating ┆ Revenue (Millions) │
│ ---              ┆ ---                     ┆ ---    ┆ ---                │
│ str              ┆ str                     ┆ f64    ┆ f64                │
╞══════════════════╪═════════════════════════╪════════╪════════════════════╡
│ Interstellar     ┆ Adventure,Drama,Sci-Fi  ┆ 8.6    ┆ 187.99             │
│ The Dark Knight  ┆ Action,Crime,Drama      ┆ 9.0    ┆ 533.32             │
│ Inception        ┆ Action,Adventure,Sci-Fi ┆ 8.8    ┆ 292.57             │
│ Kimi no na wa    ┆ Animation,Drama,Fantasy ┆ 8.6    ┆ 4.68               │
│ Dangal           ┆ Action,Biography,Drama  ┆ 8.8    ┆ 11.15              │
│ The Intouchables ┆ Biography,Comedy,Drama  ┆ 8.6    ┆ 13.18              │
└──────────────────┴─────────────────────────┴────────┴────────────────────┘

In [ ]:
df.filter(pl.col("Year")== 2008)

shape: (52, 12)
┌──────┬──────────────┬─────────────┬─────────────┬───┬────────┬─────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre       ┆ Description ┆ … ┆ Rating ┆ Votes   ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---         ┆ ---         ┆   ┆ ---    ┆ ---     ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str         ┆ str         ┆   ┆ f64    ┆ i64     ┆ ---         ┆ i64       │
│      ┆              ┆             ┆             ┆   ┆        ┆         ┆ f64         ┆           │
╞══════╪══════════════╪═════════════╪═════════════╪═══╪════════╪═════════╪═════════════╪═══════════╡
│ 55   ┆ The Dark     ┆ Action,Crim ┆ When the    ┆ … ┆ 9.0    ┆ 1791916 ┆ 533.32      ┆ 82        │
│      ┆ Knight       ┆ e,Drama     ┆ menace      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ known as    ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ the J…      ┆   ┆        ┆         ┆             ┆           │
│ 129  ┆ Mamma Mia!   ┆ Comedy,Fami ┆ The story   ┆ … ┆ 6.4    ┆ 153481  ┆ 143.7       ┆ 51        │
│      ┆              ┆ ly,Musical  ┆ of a        ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ bride-to-be ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ try…        ┆   ┆        ┆         ┆             ┆           │
│ 166  ┆ Twilight     ┆ Drama,Fanta ┆ A teenage   ┆ … ┆ 5.2    ┆ 361449  ┆ 191.45      ┆ 56        │
│      ┆              ┆ sy,Romance  ┆ girl risks  ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ everythin…  ┆   ┆        ┆         ┆             ┆           │
│ 178  ┆ Tropic       ┆ Action,Come ┆ Through a   ┆ … ┆ 7.0    ┆ 321442  ┆ 110.42      ┆ 71        │
│      ┆ Thunder      ┆ dy          ┆ series of   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ freak occu… ┆   ┆        ┆         ┆             ┆           │
│ 204  ┆ Iron Man     ┆ Action,Adve ┆ After being ┆ … ┆ 7.9    ┆ 737719  ┆ 318.3       ┆ 79        │
│      ┆              ┆ nture,Sci-F ┆ held        ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆ i           ┆ captive in  ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ an…         ┆   ┆        ┆         ┆             ┆           │
│ …    ┆ …            ┆ …           ┆ …           ┆ … ┆ …      ┆ …       ┆ …           ┆ …         │
│ 941  ┆ The Midnight ┆ Horror,Myst ┆ A photograp ┆ … ┆ 6.1    ┆ 50255   ┆ 0.07        ┆ 58        │
│      ┆ Meat Train   ┆ ery         ┆ her's       ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ obsessive   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ pur…        ┆   ┆        ┆         ┆             ┆           │
│ 955  ┆ Death Race   ┆ Action,Sci- ┆ Ex-con      ┆ … ┆ 6.4    ┆ 173731  ┆ 36.06       ┆ 43        │
│      ┆              ┆ Fi,Thriller ┆ Jensen Ames ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ is forced   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ b…          ┆   ┆        ┆         ┆             ┆           │
│ 963  ┆ The Other    ┆ Biography,D ┆ Two sisters ┆ … ┆ 6.7    ┆ 88260   ┆ 26.81       ┆ 50        │
│      ┆ Boleyn Girl  ┆ rama,Histor ┆ contend for ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆ y           ┆ the af…     ┆   ┆        ┆         ┆             ┆           │
│ 989  ┆ Martyrs      ┆ Horror      ┆ A young     ┆ … ┆ 7.1    ┆ 63785   ┆ null        ┆ 89        │
│      ┆              ┆             ┆ woman's     ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ quest for   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ reve…       ┆   ┆        ┆         ┆             ┆           │
│ 998  ┆ Step Up 2:   ┆ Drama,Music ┆ Romantic    ┆ … ┆ 6.2    ┆ 70699   ┆ 58.01       ┆ 50        │
│      ┆ The Streets  ┆ ,Romance    ┆ sparks      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ occur       ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ between …   ┆   ┆        ┆         ┆             ┆           │
└──────┴──────────────┴─────────────┴─────────────┴───┴────────┴─────────┴─────────────┴───────────┘

In [ ]:
df.filter(pl.col("Genre").str.contains("Action"))

shape: (303, 12)
┌──────┬──────────────┬──────────────┬─────────────┬───┬────────┬────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre        ┆ Description ┆ … ┆ Rating ┆ Votes  ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---          ┆ ---         ┆   ┆ ---    ┆ ---    ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str          ┆ str         ┆   ┆ f64    ┆ i64    ┆ ---         ┆ i64       │
│      ┆              ┆              ┆             ┆   ┆        ┆        ┆ f64         ┆           │
╞══════╪══════════════╪══════════════╪═════════════╪═══╪════════╪════════╪═════════════╪═══════════╡
│ 1    ┆ Guardians of ┆ Action,Adven ┆ A group of  ┆ … ┆ 8.1    ┆ 757074 ┆ 333.13      ┆ 76        │
│      ┆ the Galaxy   ┆ ture,Sci-Fi  ┆ intergalact ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ ic crimi…   ┆   ┆        ┆        ┆             ┆           │
│ 5    ┆ Suicide      ┆ Action,Adven ┆ A secret    ┆ … ┆ 6.2    ┆ 393727 ┆ 325.02      ┆ 40        │
│      ┆ Squad        ┆ ture,Fantasy ┆ government  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ agency rec… ┆   ┆        ┆        ┆             ┆           │
│ 6    ┆ The Great    ┆ Action,Adven ┆ European    ┆ … ┆ 6.1    ┆ 56036  ┆ 45.13       ┆ 42        │
│      ┆ Wall         ┆ ture,Fantasy ┆ mercenaries ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ searching…  ┆   ┆        ┆        ┆             ┆           │
│ 9    ┆ The Lost     ┆ Action,Adven ┆ A true-life ┆ … ┆ 7.1    ┆ 7188   ┆ 8.01        ┆ 78        │
│      ┆ City of Z    ┆ ture,Biograp ┆ drama,      ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆ hy           ┆ centering   ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ o…          ┆   ┆        ┆        ┆             ┆           │
│ 13   ┆ Rogue One    ┆ Action,Adven ┆ The Rebel   ┆ … ┆ 7.9    ┆ 323118 ┆ 532.17      ┆ 65        │
│      ┆              ┆ ture,Sci-Fi  ┆ Alliance    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ makes a     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ ris…        ┆   ┆        ┆        ┆             ┆           │
│ …    ┆ …            ┆ …            ┆ …           ┆ … ┆ …      ┆ …      ┆ …           ┆ …         │
│ 959  ┆ 3 Days to    ┆ Action,Drama ┆ A dying CIA ┆ … ┆ 6.2    ┆ 73567  ┆ 30.69       ┆ 40        │
│      ┆ Kill         ┆ ,Thriller    ┆ agent       ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ trying to   ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ re…         ┆   ┆        ┆        ┆             ┆           │
│ 969  ┆ Wrecker      ┆ Action,Horro ┆ Best        ┆ … ┆ 3.5    ┆ 1210   ┆ null        ┆ 37        │
│      ┆              ┆ r,Thriller   ┆ friends     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ Emily and   ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ Lesley …    ┆   ┆        ┆        ┆             ┆           │
│ 970  ┆ The Lone     ┆ Action,Adven ┆ Native      ┆ … ┆ 6.5    ┆ 190855 ┆ 89.29       ┆ null      │
│      ┆ Ranger       ┆ ture,Western ┆ American    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ warrior     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ Tonto …     ┆   ┆        ┆        ┆             ┆           │
│ 991  ┆ Underworld:  ┆ Action,Adven ┆ An origins  ┆ … ┆ 6.6    ┆ 129708 ┆ 45.8        ┆ 44        │
│      ┆ Rise of the  ┆ ture,Fantasy ┆ story       ┆   ┆        ┆        ┆             ┆           │
│      ┆ Lycans       ┆              ┆ centered on ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ t…          ┆   ┆        ┆        ┆             ┆           │
│ 994  ┆ Resident     ┆ Action,Adven ┆ While still ┆ … ┆ 5.9    ┆ 140900 ┆ 60.13       ┆ 37        │
│      ┆ Evil:        ┆ ture,Horror  ┆ out to      ┆   ┆        ┆        ┆             ┆           │
│      ┆ Afterlife    ┆              ┆ destroy     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ the…        ┆   ┆        ┆        ┆             ┆           │
└──────┴──────────────┴──────────────┴─────────────┴───┴────────┴────────┴─────────────┴───────────┘

In [ ]:
df.group_by("Genre").agg(pl.col("Rating").mean().alias("Avg_Rating"))

shape: (207, 2)
┌──────────────────────────┬────────────┐
│ Genre                    ┆ Avg_Rating │
│ ---                      ┆ ---        │
│ str                      ┆ f64        │
╞══════════════════════════╪════════════╡
│ Action,Adventure,Mystery ┆ 6.66       │
│ Drama,Fantasy,Musical    ┆ 7.4        │
│ Comedy,Horror,Sci-Fi     ┆ 6.5        │
│ Comedy,Horror            ┆ 5.65       │
│ Adventure,Drama,Romance  ┆ 6.8        │
│ …                        ┆ …          │
│ Action,Sci-Fi            ┆ 7.3        │
│ Adventure,Drama,Thriller ┆ 7.566667   │
│ Action,Adventure,Western ┆ 6.7        │
│ Adventure,Horror         ┆ 5.3        │
│ Comedy,Western           ┆ 4.8        │
└──────────────────────────┴────────────┘

In [ ]:
df.top_k(5, by="Votes")

shape: (5, 12)
┌──────┬──────────────┬─────────────┬─────────────┬───┬────────┬─────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre       ┆ Description ┆ … ┆ Rating ┆ Votes   ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---         ┆ ---         ┆   ┆ ---    ┆ ---     ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str         ┆ str         ┆   ┆ f64    ┆ i64     ┆ ---         ┆ i64       │
│      ┆              ┆             ┆             ┆   ┆        ┆         ┆ f64         ┆           │
╞══════╪══════════════╪═════════════╪═════════════╪═══╪════════╪═════════╪═════════════╪═══════════╡
│ 55   ┆ The Dark     ┆ Action,Crim ┆ When the    ┆ … ┆ 9.0    ┆ 1791916 ┆ 533.32      ┆ 82        │
│      ┆ Knight       ┆ e,Drama     ┆ menace      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ known as    ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ the J…      ┆   ┆        ┆         ┆             ┆           │
│ 81   ┆ Inception    ┆ Action,Adve ┆ A thief,    ┆ … ┆ 8.8    ┆ 1583625 ┆ 292.57      ┆ 74        │
│      ┆              ┆ nture,Sci-F ┆ who steals  ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆ i           ┆ corporate … ┆   ┆        ┆         ┆             ┆           │
│ 125  ┆ The Dark     ┆ Action,Thri ┆ Eight years ┆ … ┆ 8.5    ┆ 1222645 ┆ 448.13      ┆ 78        │
│      ┆ Knight Rises ┆ ller        ┆ after the   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ Joker's …   ┆   ┆        ┆         ┆             ┆           │
│ 37   ┆ Interstellar ┆ Adventure,D ┆ A team of   ┆ … ┆ 8.6    ┆ 1047747 ┆ 187.99      ┆ 74        │
│      ┆              ┆ rama,Sci-Fi ┆ explorers   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ travel thr… ┆   ┆        ┆         ┆             ┆           │
│ 77   ┆ The Avengers ┆ Action,Sci- ┆ Earth's     ┆ … ┆ 8.1    ┆ 1045588 ┆ 623.28      ┆ 69        │
│      ┆              ┆ Fi          ┆ mightiest   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ heroes must ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ …           ┆   ┆        ┆         ┆             ┆           │
└──────┴──────────────┴─────────────┴─────────────┴───┴────────┴─────────┴─────────────┴───────────┘

In [ ]:
df.with_columns((pl.col("Year") // 10* 10).alias("Decade")).group_by("Decade").agg(pl.col("Revenue (Millions)").mean().alias("Avg_Revenue"),pl.col("Rating").mean().alias("Avg_Rating")).sort("Decade")

shape: (2, 3)
┌────────┬─────────────┬────────────┐
│ Decade ┆ Avg_Revenue ┆ Avg_Rating │
│ ---    ┆ ---         ┆ ---        │
│ i64    ┆ f64         ┆ f64        │
╞════════╪═════════════╪════════════╡
│ 2000   ┆ 96.699312   ┆ 6.997      │
│ 2010   ┆ 79.153426   ┆ 6.65475    │
└────────┴─────────────┴────────────┘

In [ ]:
df.sort("Revenue (Millions)", descending=True).drop_nulls()

shape: (838, 12)
┌──────┬──────────────┬─────────────┬─────────────┬───┬────────┬─────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre       ┆ Description ┆ … ┆ Rating ┆ Votes   ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---         ┆ ---         ┆   ┆ ---    ┆ ---     ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str         ┆ str         ┆   ┆ f64    ┆ i64     ┆ ---         ┆ i64       │
│      ┆              ┆             ┆             ┆   ┆        ┆         ┆ f64         ┆           │
╞══════╪══════════════╪═════════════╪═════════════╪═══╪════════╪═════════╪═════════════╪═══════════╡
│ 51   ┆ Star Wars:   ┆ Action,Adve ┆ Three       ┆ … ┆ 8.1    ┆ 661608  ┆ 936.63      ┆ 81        │
│      ┆ Episode VII  ┆ nture,Fanta ┆ decades     ┆   ┆        ┆         ┆             ┆           │
│      ┆ - The F…     ┆ sy          ┆ after the   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ defeat…     ┆   ┆        ┆         ┆             ┆           │
│ 88   ┆ Avatar       ┆ Action,Adve ┆ A           ┆ … ┆ 7.8    ┆ 935408  ┆ 760.51      ┆ 83        │
│      ┆              ┆ nture,Fanta ┆ paraplegic  ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆ sy          ┆ marine      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ dispatched… ┆   ┆        ┆         ┆             ┆           │
│ 86   ┆ Jurassic     ┆ Action,Adve ┆ A new theme ┆ … ┆ 7.0    ┆ 455169  ┆ 652.18      ┆ 59        │
│      ┆ World        ┆ nture,Sci-F ┆ park, built ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆ i           ┆ on the…     ┆   ┆        ┆         ┆             ┆           │
│ 77   ┆ The Avengers ┆ Action,Sci- ┆ Earth's     ┆ … ┆ 8.1    ┆ 1045588 ┆ 623.28      ┆ 69        │
│      ┆              ┆ Fi          ┆ mightiest   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ heroes must ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ …           ┆   ┆        ┆         ┆             ┆           │
│ 55   ┆ The Dark     ┆ Action,Crim ┆ When the    ┆ … ┆ 9.0    ┆ 1791916 ┆ 533.32      ┆ 82        │
│      ┆ Knight       ┆ e,Drama     ┆ menace      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ known as    ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ the J…      ┆   ┆        ┆         ┆             ┆           │
│ …    ┆ …            ┆ …           ┆ …           ┆ … ┆ …      ┆ …       ┆ …           ┆ …         │
│ 69   ┆ Wakefield    ┆ Drama       ┆ A man's     ┆ … ┆ 7.5    ┆ 291     ┆ 0.01        ┆ 61        │
│      ┆              ┆             ┆ nervous     ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ breakdown   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ caus…       ┆   ┆        ┆         ┆             ┆           │
│ 322  ┆ Lovesong     ┆ Drama       ┆ The relatio ┆ … ┆ 6.4    ┆ 616     ┆ 0.01        ┆ 74        │
│      ┆              ┆             ┆ nship       ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ between two ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ f…          ┆   ┆        ┆         ┆             ┆           │
│ 678  ┆ Love, Rosie  ┆ Comedy,Roma ┆ Rosie and   ┆ … ┆ 7.2    ┆ 80415   ┆ 0.01        ┆ 44        │
│      ┆              ┆ nce         ┆ Alex have   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ been best … ┆   ┆        ┆         ┆             ┆           │
│ 962  ┆ Into the     ┆ Drama,Sci-F ┆ After a     ┆ … ┆ 5.9    ┆ 10220   ┆ 0.01        ┆ 59        │
│      ┆ Forest       ┆ i,Thriller  ┆ massive     ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ power       ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ outage, …   ┆   ┆        ┆         ┆             ┆           │
│ 232  ┆ A Kind of    ┆ Crime,Drama ┆ In 1960s    ┆ … ┆ 5.2    ┆ 3305    ┆ 0.0         ┆ 50        │
│      ┆ Murder       ┆ ,Thriller   ┆ New York,   ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ Walter      ┆   ┆        ┆         ┆             ┆           │
│      ┆              ┆             ┆ Stac…       ┆   ┆        ┆         ┆             ┆           │
└──────┴──────────────┴─────────────┴─────────────┴───┴────────┴─────────┴─────────────┴───────────┘

In [ ]:
df.with_columns((pl.col("Revenue (Millions)")/pl.col("Runtime (Minutes)")).alias("Revenue_per_minute")).sort("Revenue_per_minute", descending=True)

shape: (1_000, 13)
┌──────┬─────────────┬─────────────┬─────────────┬───┬───────┬────────────┬───────────┬────────────┐
│ Rank ┆ Title       ┆ Genre       ┆ Description ┆ … ┆ Votes ┆ Revenue    ┆ Metascore ┆ Revenue_pe │
│ ---  ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---   ┆ (Millions) ┆ ---       ┆ r_minute   │
│ i64  ┆ str         ┆ str         ┆ str         ┆   ┆ i64   ┆ ---        ┆ i64       ┆ ---        │
│      ┆             ┆             ┆             ┆   ┆       ┆ f64        ┆           ┆ f64        │
╞══════╪═════════════╪═════════════╪═════════════╪═══╪═══════╪════════════╪═══════════╪════════════╡
│ 8    ┆ Mindhorn    ┆ Comedy      ┆ A has-been  ┆ … ┆ 2490  ┆ null       ┆ 71        ┆ null       │
│      ┆             ┆             ┆ actor best  ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ known fo…   ┆   ┆       ┆            ┆           ┆            │
│ 23   ┆ Hounds of   ┆ Crime,Drama ┆ A cold-bloo ┆ … ┆ 1115  ┆ null       ┆ 72        ┆ null       │
│      ┆ Love        ┆ ,Horror     ┆ ded         ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ predatory   ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ coupl…      ┆   ┆       ┆            ┆           ┆            │
│ 26   ┆ Paris pieds ┆ Comedy      ┆ Fiona       ┆ … ┆ 222   ┆ null       ┆ null      ┆ null       │
│      ┆ nus         ┆             ┆ visits      ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ Paris for   ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ the fir…    ┆   ┆       ┆            ┆           ┆            │
│ 40   ┆ 5- 25- 77   ┆ Comedy,Dram ┆ Alienated,  ┆ … ┆ 241   ┆ null       ┆ null      ┆ null       │
│      ┆             ┆ a           ┆ hopeful-fil ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ mmaker P…   ┆   ┆       ┆            ┆           ┆            │
│ 43   ┆ Don't Fuck  ┆ Horror      ┆ A group of  ┆ … ┆ 496   ┆ null       ┆ null      ┆ null       │
│      ┆ in the      ┆             ┆ friends are ┆   ┆       ┆            ┆           ┆            │
│      ┆ Woods       ┆             ┆ going o…    ┆   ┆       ┆            ┆           ┆            │
│ …    ┆ …           ┆ …           ┆ …           ┆ … ┆ …     ┆ …          ┆ …         ┆ …          │
│ 28   ┆ Dead Awake  ┆ Horror,Thri ┆ A young     ┆ … ┆ 523   ┆ 0.01       ┆ null      ┆ 0.000101   │
│      ┆             ┆ ller        ┆ woman must  ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ save        ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ hersel…     ┆   ┆       ┆            ┆           ┆            │
│ 962  ┆ Into the    ┆ Drama,Sci-F ┆ After a     ┆ … ┆ 10220 ┆ 0.01       ┆ 59        ┆ 0.000099   │
│      ┆ Forest      ┆ i,Thriller  ┆ massive     ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ power       ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ outage, …   ┆   ┆       ┆            ┆           ┆            │
│ 678  ┆ Love, Rosie ┆ Comedy,Roma ┆ Rosie and   ┆ … ┆ 80415 ┆ 0.01       ┆ 44        ┆ 0.000098   │
│      ┆             ┆ nce         ┆ Alex have   ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ been best … ┆   ┆       ┆            ┆           ┆            │
│ 69   ┆ Wakefield   ┆ Drama       ┆ A man's     ┆ … ┆ 291   ┆ 0.01       ┆ 61        ┆ 0.000094   │
│      ┆             ┆             ┆ nervous     ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ breakdown   ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ caus…       ┆   ┆       ┆            ┆           ┆            │
│ 232  ┆ A Kind of   ┆ Crime,Drama ┆ In 1960s    ┆ … ┆ 3305  ┆ 0.0        ┆ 50        ┆ 0.0        │
│      ┆ Murder      ┆ ,Thriller   ┆ New York,   ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ Walter      ┆   ┆       ┆            ┆           ┆            │
│      ┆             ┆             ┆ Stac…       ┆   ┆       ┆            ┆           ┆            │
└──────┴─────────────┴─────────────┴─────────────┴───┴───────┴────────────┴───────────┴────────────┘

In [ ]:
df.null_count()

shape: (1, 12)
┌──────┬───────┬───────┬─────────────┬───┬────────┬───────┬────────────────────┬───────────┐
│ Rank ┆ Title ┆ Genre ┆ Description ┆ … ┆ Rating ┆ Votes ┆ Revenue (Millions) ┆ Metascore │
│ ---  ┆ ---   ┆ ---   ┆ ---         ┆   ┆ ---    ┆ ---   ┆ ---                ┆ ---       │
│ u32  ┆ u32   ┆ u32   ┆ u32         ┆   ┆ u32    ┆ u32   ┆ u32                ┆ u32       │
╞══════╪═══════╪═══════╪═════════════╪═══╪════════╪═══════╪════════════════════╪═══════════╡
│ 0    ┆ 0     ┆ 0     ┆ 0           ┆ … ┆ 0      ┆ 0     ┆ 128                ┆ 64        │
└──────┴───────┴───────┴─────────────┴───┴────────┴───────┴────────────────────┴───────────┘

In [ ]:
df.drop_nulls(["Metascore"])

shape: (936, 12)
┌──────┬──────────────┬──────────────┬─────────────┬───┬────────┬────────┬─────────────┬───────────┐
│ Rank ┆ Title        ┆ Genre        ┆ Description ┆ … ┆ Rating ┆ Votes  ┆ Revenue     ┆ Metascore │
│ ---  ┆ ---          ┆ ---          ┆ ---         ┆   ┆ ---    ┆ ---    ┆ (Millions)  ┆ ---       │
│ i64  ┆ str          ┆ str          ┆ str         ┆   ┆ f64    ┆ i64    ┆ ---         ┆ i64       │
│      ┆              ┆              ┆             ┆   ┆        ┆        ┆ f64         ┆           │
╞══════╪══════════════╪══════════════╪═════════════╪═══╪════════╪════════╪═════════════╪═══════════╡
│ 1    ┆ Guardians of ┆ Action,Adven ┆ A group of  ┆ … ┆ 8.1    ┆ 757074 ┆ 333.13      ┆ 76        │
│      ┆ the Galaxy   ┆ ture,Sci-Fi  ┆ intergalact ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ ic crimi…   ┆   ┆        ┆        ┆             ┆           │
│ 2    ┆ Prometheus   ┆ Adventure,My ┆ Following   ┆ … ┆ 7.0    ┆ 485820 ┆ 126.46      ┆ 65        │
│      ┆              ┆ stery,Sci-Fi ┆ clues to    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ the origin  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ …           ┆   ┆        ┆        ┆             ┆           │
│ 3    ┆ Split        ┆ Horror,Thril ┆ Three girls ┆ … ┆ 7.3    ┆ 157606 ┆ 138.12      ┆ 62        │
│      ┆              ┆ ler          ┆ are         ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ kidnapped   ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ by a…       ┆   ┆        ┆        ┆             ┆           │
│ 4    ┆ Sing         ┆ Animation,Co ┆ In a city   ┆ … ┆ 7.2    ┆ 60545  ┆ 270.32      ┆ 59        │
│      ┆              ┆ medy,Family  ┆ of humanoid ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ animals,…   ┆   ┆        ┆        ┆             ┆           │
│ 5    ┆ Suicide      ┆ Action,Adven ┆ A secret    ┆ … ┆ 6.2    ┆ 393727 ┆ 325.02      ┆ 40        │
│      ┆ Squad        ┆ ture,Fantasy ┆ government  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ agency rec… ┆   ┆        ┆        ┆             ┆           │
│ …    ┆ …            ┆ …            ┆ …           ┆ … ┆ …      ┆ …      ┆ …           ┆ …         │
│ 996  ┆ Secret in    ┆ Crime,Drama, ┆ A           ┆ … ┆ 6.2    ┆ 27585  ┆ null        ┆ 45        │
│      ┆ Their Eyes   ┆ Mystery      ┆ tight-knit  ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ team of     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ rising in…  ┆   ┆        ┆        ┆             ┆           │
│ 997  ┆ Hostel: Part ┆ Horror       ┆ Three       ┆ … ┆ 5.5    ┆ 73152  ┆ 17.54       ┆ 46        │
│      ┆ II           ┆              ┆ American    ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ college     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ student…    ┆   ┆        ┆        ┆             ┆           │
│ 998  ┆ Step Up 2:   ┆ Drama,Music, ┆ Romantic    ┆ … ┆ 6.2    ┆ 70699  ┆ 58.01       ┆ 50        │
│      ┆ The Streets  ┆ Romance      ┆ sparks      ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ occur       ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ between …   ┆   ┆        ┆        ┆             ┆           │
│ 999  ┆ Search Party ┆ Adventure,Co ┆ A pair of   ┆ … ┆ 5.6    ┆ 4881   ┆ null        ┆ 22        │
│      ┆              ┆ medy         ┆ friends     ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ embark on a ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ …           ┆   ┆        ┆        ┆             ┆           │
│ 1000 ┆ Nine Lives   ┆ Comedy,Famil ┆ A stuffy    ┆ … ┆ 5.3    ┆ 12435  ┆ 19.64       ┆ 11        │
│      ┆              ┆ y,Fantasy    ┆ businessman ┆   ┆        ┆        ┆             ┆           │
│      ┆              ┆              ┆ finds him…  ┆   ┆        ┆        ┆             ┆           │
└──────┴──────────────┴──────────────┴─────────────┴───┴────────┴────────┴─────────────┴───────────┘

In [3]:
import polars as pl
import random


paises = ["Bolivia", "Colombia", "Ecuador", "Peru",  "Venezuela"]

# Create an empty list to store the data for the DataFrame
data = []

# Generate 15 rows of data
for i in range(10):
  data.append({
      "Nombre": f"Person {i + 1}",  #Nombres
      "Edad": random.randint(10, 65),  #edades
      "País de nacimiento": random.choice(paises)  #paises
  })

# Create the Polars DataFrame
df = pl.DataFrame(data)

df

shape: (10, 3)
┌───────────┬──────┬────────────────────┐
│ Nombre    ┆ Edad ┆ País de nacimiento │
│ ---       ┆ ---  ┆ ---                │
│ str       ┆ i64  ┆ str                │
╞═══════════╪══════╪════════════════════╡
│ Person 1  ┆ 38   ┆ Venezuela          │
│ Person 2  ┆ 50   ┆ Bolivia            │
│ Person 3  ┆ 23   ┆ Venezuela          │
│ Person 4  ┆ 52   ┆ Colombia           │
│ Person 5  ┆ 47   ┆ Bolivia            │
│ Person 6  ┆ 34   ┆ Peru               │
│ Person 7  ┆ 21   ┆ Peru               │
│ Person 8  ┆ 12   ┆ Bolivia            │
│ Person 9  ┆ 57   ┆ Ecuador            │
│ Person 10 ┆ 24   ┆ Colombia           │
└───────────┴──────┴────────────────────┘

In [4]:
df["País de nacimiento"].to_dummies() #se clasifican los paises como datos categóricos tipo dummies, la organización salió por orden alfabético

shape: (10, 5)
┌───────────────────┬───────────────────┬───────────────────┬───────────────────┬──────────────────┐
│ País de nacimient ┆ País de nacimient ┆ País de nacimient ┆ País de           ┆ País de nacimien │
│ o_Bolivia         ┆ o_Colombia        ┆ o_Ecuador         ┆ nacimiento_Peru   ┆ to_Venezuela     │
│ ---               ┆ ---               ┆ ---               ┆ ---               ┆ ---              │
│ u8                ┆ u8                ┆ u8                ┆ u8                ┆ u8               │
╞═══════════════════╪═══════════════════╪═══════════════════╪═══════════════════╪══════════════════╡
│ 0                 ┆ 0                 ┆ 0                 ┆ 0                 ┆ 1                │
│ 1                 ┆ 0                 ┆ 0                 ┆ 0                 ┆ 0                │
│ 0                 ┆ 0                 ┆ 0                 ┆ 0                 ┆ 1                │
│ 0                 ┆ 1                 ┆ 0                 ┆ 0                 ┆ 0                │
│ 1                 ┆ 0                 ┆ 0                 ┆ 0                 ┆ 0                │
│ 0                 ┆ 0                 ┆ 0                 ┆ 1                 ┆ 0                │
│ 0                 ┆ 0                 ┆ 0                 ┆ 1                 ┆ 0                │
│ 1                 ┆ 0                 ┆ 0                 ┆ 0                 ┆ 0                │
│ 0                 ┆ 0                 ┆ 1                 ┆ 0                 ┆ 0                │
│ 0                 ┆ 1                 ┆ 0                 ┆ 0                 ┆ 0                │
└───────────────────┴───────────────────┴───────────────────┴───────────────────┴──────────────────┘

In [5]:
import polars as pl
import random

bins = [0, 18, 35, 50, 999]  # se cambia la edad de numérico a categórico


# Use cut function to categorize 'Years Old' column
df_2 = df.with_columns(pl.col("Edad").cut(bins).alias("Rango de edad"))

df_2

shape: (10, 4)
┌───────────┬──────┬────────────────────┬───────────────┐
│ Nombre    ┆ Edad ┆ País de nacimiento ┆ Rango de edad │
│ ---       ┆ ---  ┆ ---                ┆ ---           │
│ str       ┆ i64  ┆ str                ┆ cat           │
╞═══════════╪══════╪════════════════════╪═══════════════╡
│ Person 1  ┆ 38   ┆ Venezuela          ┆ (35, 50]      │
│ Person 2  ┆ 50   ┆ Bolivia            ┆ (35, 50]      │
│ Person 3  ┆ 23   ┆ Venezuela          ┆ (18, 35]      │
│ Person 4  ┆ 52   ┆ Colombia           ┆ (50, 999]     │
│ Person 5  ┆ 47   ┆ Bolivia            ┆ (35, 50]      │
│ Person 6  ┆ 34   ┆ Peru               ┆ (18, 35]      │
│ Person 7  ┆ 21   ┆ Peru               ┆ (18, 35]      │
│ Person 8  ┆ 12   ┆ Bolivia            ┆ (0, 18]       │
│ Person 9  ┆ 57   ┆ Ecuador            ┆ (50, 999]     │
│ Person 10 ┆ 24   ┆ Colombia           ┆ (18, 35]      │
└───────────┴──────┴────────────────────┴───────────────┘

In [6]:
# se convierte la edad a categorico cummulative >=
def cat2cumulative(df, column_name):
  categories = df[column_name].unique().to_list()
  for cat in categories:
    df = df.with_columns(
        pl.when(pl.col(column_name) >= cat)
        .then(1)
        .otherwise(0)
        .alias(f"{column_name}_{cat}")
    )
  return df

df_3 = cat2cumulative(df_2, "Rango de edad")
df_3

shape: (10, 8)
┌───────────┬──────┬─────────────┬─────────────┬────────────┬────────────┬────────────┬────────────┐
│ Nombre    ┆ Edad ┆ País de     ┆ Rango de    ┆ Rango de   ┆ Rango de   ┆ Rango de   ┆ Rango de   │
│ ---       ┆ ---  ┆ nacimiento  ┆ edad        ┆ edad_(0,   ┆ edad_(18,  ┆ edad_(35,  ┆ edad_(50,  │
│ str       ┆ i64  ┆ ---         ┆ ---         ┆ 18]        ┆ 35]        ┆ 50]        ┆ 999]       │
│           ┆      ┆ str         ┆ cat         ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│           ┆      ┆             ┆             ┆ i32        ┆ i32        ┆ i32        ┆ i32        │
╞═══════════╪══════╪═════════════╪═════════════╪════════════╪════════════╪════════════╪════════════╡
│ Person 1  ┆ 38   ┆ Venezuela   ┆ (35, 50]    ┆ 1          ┆ 1          ┆ 1          ┆ 0          │
│ Person 2  ┆ 50   ┆ Bolivia     ┆ (35, 50]    ┆ 1          ┆ 1          ┆ 1          ┆ 0          │
│ Person 3  ┆ 23   ┆ Venezuela   ┆ (18, 35]    ┆ 1          ┆ 1          ┆ 0          ┆ 0          │
│ Person 4  ┆ 52   ┆ Colombia    ┆ (50, 999]   ┆ 1          ┆ 1          ┆ 1          ┆ 1          │
│ Person 5  ┆ 47   ┆ Bolivia     ┆ (35, 50]    ┆ 1          ┆ 1          ┆ 1          ┆ 0          │
│ Person 6  ┆ 34   ┆ Peru        ┆ (18, 35]    ┆ 1          ┆ 1          ┆ 0          ┆ 0          │
│ Person 7  ┆ 21   ┆ Peru        ┆ (18, 35]    ┆ 1          ┆ 1          ┆ 0          ┆ 0          │
│ Person 8  ┆ 12   ┆ Bolivia     ┆ (0, 18]     ┆ 1          ┆ 0          ┆ 0          ┆ 0          │
│ Person 9  ┆ 57   ┆ Ecuador     ┆ (50, 999]   ┆ 1          ┆ 1          ┆ 1          ┆ 1          │
│ Person 10 ┆ 24   ┆ Colombia    ┆ (18, 35]    ┆ 1          ┆ 1          ┆ 0          ┆ 0          │
└───────────┴──────┴─────────────┴─────────────┴────────────┴────────────┴────────────┴────────────┘

In [10]:
def num2cumulative(df, column_name,bins):
  categories = [f'({bins[i]}-{bins[i+1]}]' for i in range(len(bins)-1)] #se cierra el intervalo a la derecha
  for i,cat in enumerate(categories):
    df = df.with_columns(
        pl.when(pl.col(column_name) >= bins[i])
        .then(1)
        .otherwise(0)
        .alias(f"{column_name}_{cat}")
    )
  return df

bins = [0, 17, 35, 50, 999]

df_4 = num2cumulative(df, "Edad", bins)
df_4

shape: (10, 7)
┌───────────┬──────┬────────────┬─────────────┬──────────────┬──────────────┬───────────────┐
│ Nombre    ┆ Edad ┆ País de    ┆ Edad_(0-17] ┆ Edad_(17-35] ┆ Edad_(35-50] ┆ Edad_(50-999] │
│ ---       ┆ ---  ┆ nacimiento ┆ ---         ┆ ---          ┆ ---          ┆ ---           │
│ str       ┆ i64  ┆ ---        ┆ i32         ┆ i32          ┆ i32          ┆ i32           │
│           ┆      ┆ str        ┆             ┆              ┆              ┆               │
╞═══════════╪══════╪════════════╪═════════════╪══════════════╪══════════════╪═══════════════╡
│ Person 1  ┆ 38   ┆ Venezuela  ┆ 1           ┆ 1            ┆ 1            ┆ 0             │
│ Person 2  ┆ 50   ┆ Bolivia    ┆ 1           ┆ 1            ┆ 1            ┆ 1             │
│ Person 3  ┆ 23   ┆ Venezuela  ┆ 1           ┆ 1            ┆ 0            ┆ 0             │
│ Person 4  ┆ 52   ┆ Colombia   ┆ 1           ┆ 1            ┆ 1            ┆ 1             │
│ Person 5  ┆ 47   ┆ Bolivia    ┆ 1           ┆ 1            ┆ 1            ┆ 0             │
│ Person 6  ┆ 34   ┆ Peru       ┆ 1           ┆ 1            ┆ 0            ┆ 0             │
│ Person 7  ┆ 21   ┆ Peru       ┆ 1           ┆ 1            ┆ 0            ┆ 0             │
│ Person 8  ┆ 12   ┆ Bolivia    ┆ 1           ┆ 0            ┆ 0            ┆ 0             │
│ Person 9  ┆ 57   ┆ Ecuador    ┆ 1           ┆ 1            ┆ 1            ┆ 1             │
│ Person 10 ┆ 24   ┆ Colombia   ┆ 1           ┆ 1            ┆ 0            ┆ 0             │
└───────────┴──────┴────────────┴─────────────┴──────────────┴──────────────┴───────────────┘